- var siteUrl = `http://ifihadaquarter.com`;
- var siteTitle = `If I Had a Quarter…`;
- var metaDescription = `Pledge a quarter for each time Trump tweets something &hellip; Trumpy. We'll tally up the tweets and remind you once a week.`;
- var fbShareMsg = `I'm donating a quarter to Hillary every time Trump tweets!`;

doctype html
html(lang='en-us')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{siteTitle}
    link(href='https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
    link(href='css/main.css', rel='stylesheet', type='text/css')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
    link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='/manifest.json')
    link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#ef8c20')
    meta(name='theme-color', content='#ffffff')
    meta(name='description', content=metaDescription)
    meta(property='og:url', content=siteUrl)
    meta(property='og:type', content='website')
    meta(property='og:title', content=siteTitle)
    meta(property='og:description', content=metaDescription)
    meta(property='og:image', content=`${siteUrl}/img/share.png`)
  body
    main.body-main
      .container-fluid
        .row
          .col-xs-12
            h1.main-header Donate a quarter to Hillary every time Trump tweets. #[img(src='/img/icon-twitter.svg', alt='')]
        .row
          .col-xs-12.main-content
            form#signup(action='https://script.google.com/macros/s/AKfycbyTuqk69p3R7v419Vhuqb8g1soBW5NrxbqkUvcU2gwB1nmlnpQ/exec', method='POST')
              legend.form-header Sign me up!
              .form-row
                .form-group
                  label.sr-only Email address
                  input#email.form-control(type='email', name='email', placeholder='Email address', required)
                .form-submit
                  button.btn.btn-submit Pledge
              p#invalid-email.form-message.bg-danger.hidden Please enter a valid email.
              p#server-error.form-message.bg-danger.hidden Something went wrong. Please try again.
            p
              | Pledge a quarter for each time Trump tweets something &hellip; Trumpy. We'll tally up the tweets and remind you once a week. Unsubscribe at any time! Your email will not be shared or used for any other purpose.
            p
              button.btn.btn-share.share-fb(type='button', data-url=siteUrl)
                | #[img(src='/img/icon-fb.svg', alt='')] Share on Facebook
    footer.body-footer
      | Built by #[a(href='http://devprogress.us') DevProgress], an independent group fighting Trump and supporting progressive causes nationwide.
      | Image by #[a(href='https://www.flickr.com/photos/gageskidmore/8567825104') Gage Skidmore], #[a(href='https://creativecommons.org/licenses/by-sa/2.0/') CC BY-SA 2.0].
    #email-success.overlay.confirmation-container.hidden
      .confirmation-overlay.close-overlay
      .confirmation-body
        p Thanks for pledging! You'll be getting an email soon letting you know what Trump's been up to in the Twitterverse and how much we need to fight back. Until then, why not tell your friends?
        button.btn.btn-share.share-fb(type='button', data-message=fbShareMsg, data-url=siteUrl)
            | #[img(src='/img/icon-fb.svg', alt='')] Share on Facebook
        button.btn.btn-close.close-overlay &times;

    script(src='js/main.min.js')
    // Load Facebook SDK for JavaScript
    script.
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1874284682800311',
          xfbml      : true,
          version    : 'v2.8'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
